<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Bad Twitter - Create Account</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Create your account!</h1>
        <br>
        <form>
            <fieldset>
                <legend>Required Fields</legend>
                Email: <input type="text" name="email" placeholder="Email" required><br>
                Username: <input type="text" name="username" placeholder="Username" required><br>
                Password: <input type="password" name="password" placeholder="Password" required><br>
                Confirm Password: <input type="password" name="confirm_password" placeholder="Confirm Password" required><br>
            </fieldset>
            <fieldset>
                <legend>Optional Fields</legend>
                First Name: <input type="text" name="first_name" placeholder="First Name"><br>
                Last Name: <input type="text" name="last_name" placeholder="Last Name"><br>
                Birth-date: <input type="date" name="birth_date" placeholder="Birth-date"><br>
            </fieldset>
        </form>
    </body>
</html>